body {
  background-color: white;
  font-family: sans-serif;
}

.hide {
  background-color: green; /* just filler for now because vs code complained about having an empty rule */
  /* I can reenable this later.  But I want the link while in development
  display: none;*/
}

/*initialize each of this divs to invisible.  Only one will be shown at a time and it is selected shown via script*/
#game-content > div {
  display: none;
}

#highscores > li > div {
  padding: 10px;
  color: gray;
  display: inline-block;
}
